.section {
  margin-top: var(--space-20);
  margin-bottom: var(--space-20);
}

.sectionTitle {
  margin-bottom: var(--space-10);
  font-size: var(--size-2xl);
  font-weight: 700;
}

.heroTitle {
  max-width: 400px;
  margin-bottom: var(--space-9);
  font-size: var(--size-4xl);
  font-weight: 800;
  line-height: 1.25;
}

.heroLead {
  max-width: 460px;
  color: var(--color-text-lighter);
  font-size: var(--size-xl);
}

.heroInfo {
  margin-bottom: var(--space-12);
}

.heroActions {
  display: flex;
  gap: var(--space-6);
}

.featuresGrid {
  display: grid;
  gap: var(--space-10);
  grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
}

.featuresFeature {
  padding: var(--space-9);
  border: 1px solid var(--color-border);
  border-radius: var(--radius);
}

.featuresFeatureTitle {
  margin-bottom: var(--space-4);
  font-weight: 600;
}

.featuresFeatureDescription {
  font-size: var(--size-sm);
}


.installationDropdown {
  /* styles for the <details> element */
  background: #f9f9f9;
  border: 1px solid #ddd;
  padding: 15px;
  margin-bottom: 10px;
  cursor: pointer;
}

.dropdownSummary {
  /* styles for the <summary> element */
  font-weight: bold;
  color: #000000;
}

.dropdownContent {
  /* styles for the content inside the dropdown */
  margin-top: 10px;
  background: #fff;
  border: 1px solid #ddd;
  padding: 10px;
}

.dropdownContent code {
  /* styles for the <code> element */
  background: #000000;
  padding: 2px 6px;
  border-radius: 4px;
}
